.list-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 20px 20px;
    background: #ffffff;
    min-width: 64dvw;
    border-radius: 20px;
    width: 100%;
    transition: .2s;
    font-family: Inter;
    font-weight: 500;
    gap: 11px;
    vertical-align: middle;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.07);
    @media screen and (max-width: 768px) {
        min-width: 353px;
        flex-direction: column;
        padding: 10px;
        border-radius: 15px;
        gap: 12px;
    }
}

.list-card:hover {
    /* transform: scaleX(1.02); */
    transition: 0.15s;
    box-shadow: 8px 8px 8px rgba(0,0,0,0.1);
}

.title {
    flex: 1;
    padding-left: 10px;
    font-size: 25px;
    font-weight: 400;
    line-height: 25px;
    /* width: 40dvw; */
    color: #042425;
    
    @media screen and (max-width: 768px) {
        line-height: 19px;
        max-height: 74px;
        width: 240px;
        padding: 0;
        text-align: center;
        font-size: 15px;
        font-weight: 500;
    }
    /*
    @media screen and (max-width: 1000px) {
        font-size: 1.5em !important;
    }
    @media screen and (max-width: 450px) {
        font-size: 1em !important;
        max-width: 150px;
    }
    */
}

.company-png {
    max-width: 250px;
    height: 95px;
    border-radius: 10px;
    /* block-size: fit-content; */

    @media screen and (max-width: 768px) {
        /* max-height: 75px; */
        width: 231px;

    }

    /* adaptive
    @media screen and (max-width: 1000px) {
        max-width: 225px;
    }
    @media screen and (max-width: 450px) {
        max-width: 80px;
    }
    @media screen and (max-width: 350px) {
        max-width: 70px;
    }
    */
}

.present-png {
    max-width: 57px;
    padding-right: 20px;
    @media screen and (max-width: 350px) {
        max-width: 70px;
    }
}

.pre-button {
    width: 100%;
    height: 37px;
    font-size: 15px;
    font-weight: 600;
    font-family: Inter;
    color: #fff;
    background: #0095AE;
    border-radius: 5px;
    border: none;
    @media screen and (max-width: 768px) {
        max-width: 250px;
    }

}