.list-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    cursor: pointer;
    padding: 14px;
    background: #ffffff;
    min-width: 70dvw;
    border-radius: 20px;
    transition: .2s;
}

.list-card:hover {
    background: hsla(0,0%,100%,.3);
    transform: scaleX(1.02);
    transition: 0.15s;
    box-shadow: 8px 8px 8px rgba(0,0,0,0.1);
}

.title {
    text-align: center;
    font-size: 2em;
    width: 40dvw;

    @media screen and (max-width: 1000px) {
        font-size: 1em !important;
    }
}

.company-png {
    max-height: 8dvw;
    border-radius: 20px;
    block-size: fit-content;
}

.present-png {
    max-height: 80px;
    @media screen and (max-width: 1000px) {
        max-height: 40px;
    }
}