.list-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    cursor: pointer;
}

.title {
    text-align: center;
    font-size: 2em;
}

.company-png {

}