.form {
    width: 100%;
}

.form-input {
    height: 60px;
    width: 100%;
    font-size: 1.4em;
    @media screen and (max-width: 500px) {
        height: 40px !important;
    }
}

.form-button {
    width: 100%;
    height: 82px;
    font-size: 33px;
    font-weight: 600;
    font-family: Inter;
    color: #fff ;
    background: #0095AE;
    border-radius: 19px !important;
    border: none;
    @media screen and (max-width: 768px) {
        height: 57px !important;
        border-radius: 12px !important;
        font-size: 23px !important;
    }
}

.form-button:disabled {
    background: #EEEEEE !important;
    color: #042425;
}

/* Для кстомной подсветки success
*/
.ant-form-item-has-success .ant-input-affix-wrapper {
    border: 1px solid #0095AE !important;
}

.ant-form-item-has-success .ant-input-suffix svg {
    color: #0095AE !important;
    fill: #0095AE !important;
}