.form {
    width: 100%;
}

.form-input {
    height: 60px;
    width: 100%;
    font-size: 1.4em;
    @media screen and (max-width: 500px) {
        height: 40px !important;
    }
}

.form-button {
    width: 100%;
    height: 82px;
    font-size: 33px;
    font-weight: 600;
    color: #38089B !important;
    background: #D8FF3C !important;
    border-radius: 19px !important;
    @media screen and (max-width: 768px) {
        height: 60px !important;
        border-radius: 10px !important;
    }
}

.form-button:disabled {
    background: #EEEEEE !important;
}

/* Для кстомной подсветки success
*/
.ant-form-item-has-success .ant-input-affix-wrapper {
    border: 1px solid #89C203 !important;
}

.ant-form-item-has-success .ant-input-suffix svg {
    color: #89C203 !important;
    fill: #89C203 !important;
}