.page-component {
    font-family: Inter, sans-serif !important;
    min-height: 100dvh;
}

.list-header {
    background: url("../../assets/png/pc-background.png");
    background-size: cover;
    height: 27dvw;
    @media screen and (max-width: 768px) {
        height: 63dvw;
        background: url("../../assets/png/mobile-background.png");
        background-size: cover;
    }
}

.list-component {
    background: #D8FF3C;
    padding-left: 200px;
    padding-right: 200px;
    @media screen and (max-width: 768px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.list-title {
    font-size: 50px;
    font-weight: 600;
    padding-top: 100px;
    @media screen and (max-width: 768px) {
        font-size: 22px;
        padding-top: 47px;
        text-align: center;
    }
}

.ant-modal-content {
    padding: 0 !important;
}

.modal-card {
    width: 708px !important;
}

.progress-bar {
    position: sticky;
    box-sizing: border-box;
    padding: 17px 20px;
    width: 100%;
    top: 0;
    z-index: 2;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #FFFFFF;
}

.flex-title-value-progress {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
}

.progress-bar-title {
    font-size: 15px;
    font-weight: 400;
}

.countdown-timer .ant-statistic-content-value {
    font-size: 32px !important;
    line-height: 1;
    font-weight: 600;
}
/*
Анимация перехода цвета
*/
.custom-progress .ant-progress-bg {
    transition: all 0.5s ease;
}

.custom-progress .ant-progress-line {
    transition: background-color 0.5s ease;
}

.custom-progress .ant-progress-inner {
    transition: background-color 0.5s ease;
}

.ant-statistic-content {
    display: flex;
    justify-content: center;
}

.my-list {
    position: relative;
    border-radius: 32px;
    min-width: 100%;
    height: 50%;
    margin: auto;
    padding-top: 18px;
    padding-bottom: 3dvh;
    display: block;
}
/*
   full-size card width
*/
.ant-list-item {
    padding: 0 0 30px 0 !important;
    @media screen and (max-width: 768px) {
        padding: 0 0 14px 0 !important;
    }

}

.ant-list-items {

}

.list-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15dvh;
    background: #444444;
}

.link-footer {
    font-size: 30px;
    text-decoration: none;
    transition: color 0.5s;
    color: white;

    @media screen and (max-width: 768px) {
        font-size: 16px;
    }
}

.link-footer:hover {
    color: #575757;
}

.cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #858585;
    color: white;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    padding: 10px 20px;
    font-size: 14px;
    z-index: 1000;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.cookie-banner button {
    background-color: #FFFFFF;
    color: #000000;
    border: none;
    padding: 3px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
    transition: background-color 0.2s;
}

.cookie-banner button:hover {
    background-color: #45a049;
}

