.card-container {
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    padding: 20px 20px 9px 20px;
    display: flex;
    flex-direction: column;
    transition: height 250ms;
    font-family: Inter;
    @media screen and (max-width: 768px) {
        padding: 46px 13px 2px 13px;
    }
}

/*
border antd
*/
.ant-modal-content {
    border-radius: 20px !important;
}

.company-png-card {
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 60px;
    max-height: 95px;
    @media screen and (max-width: 768px) {
        max-width: 233px;
        margin-top: 0;
        margin-bottom: 40px;
    }

}

.card-text {
    font-size: 37px;
    font-weight: 500;
    line-height: 42px;
    color: #38089B;
    @media screen and (max-width: 768px) {
        font-size: 25px;
        font-weight: 400;
        line-height: 100%;
        color: black;
    }
}

.card-description {
    font-size: 20px;
    font-weight: 400;
    margin-top: 16px;
    line-height: 26px;
    @media screen and (max-width: 768px) {
        font-size: 13px;
        margin-top: 20px;
        line-height: 17px;
    }
}

.card-politics {
    color : #b6b8b8 !important;
    font-size: 12px !important;
    margin-bottom: 25px;
    font-family: Inter;
    @media screen and (max-width: 500px) {
        font-size: 8px !important;
        line-height: 13px;
    }
}

.card-link {
    color : #b6b8b8 !important;
    text-decoration: underline;
    transition: color 0.5s;
}

.card-more-info-button {
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    color: #38089B;
    @media screen and (max-width: 768px) {
        font-size: 12px;
        margin-top: 10px;
    }
}

.card-more-info {
    white-space: pre-line;
    font-size: 1.2em;
    max-height: 0;
    margin-bottom: 40px;
    opacity: 0;
    overflow: hidden;
    transition: max-height 250ms ease-in-out, opacity 250ms ease-in-out;
    @media screen and (max-width: 500px) {
        font-size: 1em;
    }
    @media screen and (max-width: 768px) {
        margin-bottom: 23px;
    }
}
/*
less margin on antd form inputs
*/
.ant-form-item {
    margin-bottom: 12px !important;
}

.card-more-info-shown {
    opacity: 1;
    height: auto;
    transition: height,opacity 250ms;
}

.card-more-info-hidden {
    height: 0;
    opacity: 0;
    transition: height,opacity 250ms;
}

.success-message-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    font-size: 26px;
    line-height: 30px;
    font-weight: 400;
    @media screen and (max-width: 768px) {
        font-size: 12px;
        line-height: 18px;
    }

}

.success-text {
    font-size: 20px;
    font-weight: 400;
    @media screen and (max-width: 768px) {
        font-size: 13px;
        line-height: 17px;
        font-weight: 400;
    }
}

.good-day {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
    @media screen and (max-width: 768px) {
        font-size: 13px;
        line-height: 17px;
        font-weight: 700;
        margin-bottom: 0px;
    }
}

.close-modal-button {
    font-size: 33px;
    background: #BFFF29 !important;
    color: #38089B !important;
    height: 82px !important;
    padding: 20px;
    border-radius: 24px;
    font-weight: 500;
    border: none;

    @media screen and (max-width: 768px) {
        height: 57px !important;
        font-size: 23px;
        border-radius: 10px;
        margin-bottom: 16px;
    }
}