.card {
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    padding: 40px;
    display: flex;
    flex-direction: column;
    transition: height 250ms;
    @media screen and (max-width: 500px) {
        padding: 20px;
    }
}

.company-png-card {
    display: flex;
    margin: auto;
    justify-content: center;
    @media screen and (max-width: 500px) {
        max-width: 300px;
    }

    @media screen and (max-width: 350px) {
        max-width: 250px;
    }
}

.card-text {
    margin-top: 3dvh;
    margin-bottom: 1dvh;
    font-size: 2em;
}

.card-description {
    margin-top: 5dvh;
    margin-bottom: 2dvh;
    font-size: 1.2em;
}

.card-politics {
    color : #b6b8b8;
    font-size: 1em;
}

.card-more-info-button {
    font-size: 2em;
    cursor: pointer;
}

.card-more-info {
    font-size: 1.2em;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 250ms ease-in-out, opacity 250ms ease-in-out;
}

.card-more-info-shown {
    opacity: 1;
    height: auto;
    transition: height,opacity 250ms;
}

.card-more-info-hidden {
    height: 0;
    opacity: 0;
    transition: height,opacity 250ms;
}