.card-container {
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    padding: 40px 40px 30px 40px;
    display: flex;
    flex-direction: column;
    transition: height 250ms;
    font-family: Inter, sans-serif;
    @media screen and (max-width: 768px) {
        padding: 32px 13px;
    }
}

/*
border antd
*/
.ant-modal-content {
    border-radius: 20px !important;
}

.company-png-card {
    display: flex;
    margin: auto;
    justify-content: center;
    @media screen and (max-width: 500px) {
        max-width: 300px;
    }

    @media screen and (max-width: 350px) {
        max-width: 250px;
    }
}

.card-text {
    margin-top: 65px;
    font-size: 46px;
    font-weight: 500;
    line-height: 55px;
    @media screen and (max-width: 768px) {
        font-size: 25px;
        margin-top: 40px;
        font-weight: 400;
        line-height: 100%;
    }
}

.card-description {
    font-size: 26px;
    font-weight: 400;
    margin-top: 30px;
    @media screen and (max-width: 768px) {
        font-size: 12px;
        margin-top: 20px;
    }
}

.card-politics {
    color : #b6b8b8 !important;
    font-size: 1em;
    margin-bottom: 25px;
    @media screen and (max-width: 500px) {
        font-size: 0.8em;
    }
}

.card-link {
    color : #b6b8b8 !important;
    text-decoration: none;
    transition: color 0.5s;
}

.card-more-info-button {
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    @media screen and (max-width: 768px) {
        font-size: 10px;
    }
}

.card-more-info {
    white-space: pre-line;
    font-size: 1.2em;
    max-height: 0;
    margin-bottom: 30px;
    opacity: 0;
    overflow: hidden;
    transition: max-height 250ms ease-in-out, opacity 250ms ease-in-out;
    @media screen and (max-width: 500px) {
        font-size: 1em;
    }
    @media screen and (max-width: 768px) {
        margin-bottom: 30px;
    }
}
/*
less margin on antd form inputs
*/
.ant-form-item {
    margin-bottom: 12px !important;
}

.card-more-info-shown {
    opacity: 1;
    height: auto;
    transition: height,opacity 250ms;
}

.card-more-info-hidden {
    height: 0;
    opacity: 0;
    transition: height,opacity 250ms;
}

.success-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    font-size: 26px;
    line-height: 30px;
    font-weight: 400;
    @media screen and (max-width: 768px) {
        font-size: 12px;
        line-height: 18px;
    }

}

.close-modal-button {
    font-size: 36px;
    background: #BFFF29 !important;
    color: black !important;
    height: 105px !important;
    padding: 20px;
    border-radius: 24px;
    font-weight: 600;

    @media screen and (max-width: 768px) {
        height: 57px !important;
        font-size: 23px;
    }
}