.wheelpng
  position: absolute
  width: 500px
  height: 500px
  top: 250px
  left: 700px
  animation: rotater 5s ease-out forwards

.arrow
  width: 200px
  height: 200px
  position: absolute
  transform: rotate(180deg)
  top: 100px
  left: 850px
  z-index: 1

.pngs
  display: flex
  flex-direction: row

.modal
  width: 570px !important

@keyframes rotater
  from
    transform: rotate(0deg)
  to
    transform: rotate(454deg)
